src/main/resources/wsdl/documi/account_service.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="AccountService" targetNamespace="http://tempuri.org/">
    <wsp:Policy wsu:Id="BasicHttpBinding_IAccountService_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="https://servizi-demo.youdox.it/fatturazione/api/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="https://servizi-demo.youdox.it/fatturazione/api/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="https://servizi-demo.youdox.it/fatturazione/api/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YouPaWebApp.api.classes"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IAccountService_Account_GetUserData_InputMessage">
        <wsdl:part name="parameters" element="tns:Account_GetUserData"/>
    </wsdl:message>
    <wsdl:message name="IAccountService_Account_GetUserData_OutputMessage">
        <wsdl:part name="parameters" element="tns:Account_GetUserDataResponse"/>
    </wsdl:message>
    <wsdl:message name="IAccountService_Account_GetLoginLink_InputMessage">
        <wsdl:part name="parameters" element="tns:Account_GetLoginLink"/>
    </wsdl:message>
    <wsdl:message name="IAccountService_Account_GetLoginLink_OutputMessage">
        <wsdl:part name="parameters" element="tns:Account_GetLoginLinkResponse"/>
    </wsdl:message>
    <wsdl:portType name="IAccountService">
        <wsdl:operation name="Account_GetUserData">
            <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Account_GetUserData" message="tns:IAccountService_Account_GetUserData_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/Account_GetUserDataResponse" message="tns:IAccountService_Account_GetUserData_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Account_GetLoginLink">
            <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/Account_GetLoginLink" message="tns:IAccountService_Account_GetLoginLink_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/Account_GetLoginLinkResponse" message="tns:IAccountService_Account_GetLoginLink_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
        <wsp:PolicyReference URI="#BasicHttpBinding_IAccountService_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Account_GetUserData">
            <soap:operation soapAction="http://tempuri.org/IAccountService/Account_GetUserData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Account_GetLoginLink">
            <soap:operation soapAction="http://tempuri.org/IAccountService/Account_GetLoginLink" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountService">
        <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
            <soap:address location="https://servizi-demo.youdox.it/fatturazione/api/AccountService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>