src/main/resources/wsdl/documi/exchange_service.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="ExchangeService" targetNamespace="http://tempuri.org/">
    <wsp:Policy wsu:Id="BasicHttpBinding_IExchangeService_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="https://servizi-demo.youdox.it/fatturazione/api/ExchangeService.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IExchangeService_Exchange_ImportXMLToSend_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportXMLToSend"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportXMLToSend_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportXMLToSendResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipXMLPackToSend_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipXMLPackToSend"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipXMLPackToSend_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipXMLPackToSendResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportPDFToConvert_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportPDFToConvert"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportPDFToConvert_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportPDFToConvertResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipPDFToConvert_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipPDFToConvert"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipPDFToConvert_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipPDFToConvertResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportPDFToCollector_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportPDFToCollector"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportPDFToCollector_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportPDFToCollectorResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipPDFToCollector_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipPDFToCollector"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipPDFToCollector_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipPDFToCollectorResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipOnlyToConserve_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipOnlyToConserve"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ImportZipOnlyToConserve_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ImportZipOnlyToConserveResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ValidateXML_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ValidateXML"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ValidateXML_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ValidateXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ValidateZipXMLPack_InputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ValidateZipXMLPack"/>
    </wsdl:message>
    <wsdl:message name="IExchangeService_Exchange_ValidateZipXMLPack_OutputMessage">
        <wsdl:part name="parameters" element="tns:Exchange_ValidateZipXMLPackResponse"/>
    </wsdl:message>
    <wsdl:portType name="IExchangeService">
        <wsdl:operation name="Exchange_ImportXMLToSend">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportXMLToSend" message="tns:IExchangeService_Exchange_ImportXMLToSend_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportXMLToSendResponse" message="tns:IExchangeService_Exchange_ImportXMLToSend_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipXMLPackToSend">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipXMLPackToSend" message="tns:IExchangeService_Exchange_ImportZipXMLPackToSend_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipXMLPackToSendResponse" message="tns:IExchangeService_Exchange_ImportZipXMLPackToSend_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportPDFToConvert">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportPDFToConvert" message="tns:IExchangeService_Exchange_ImportPDFToConvert_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportPDFToConvertResponse" message="tns:IExchangeService_Exchange_ImportPDFToConvert_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipPDFToConvert">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToConvert" message="tns:IExchangeService_Exchange_ImportZipPDFToConvert_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToConvertResponse" message="tns:IExchangeService_Exchange_ImportZipPDFToConvert_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportPDFToCollector">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportPDFToCollector" message="tns:IExchangeService_Exchange_ImportPDFToCollector_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportPDFToCollectorResponse" message="tns:IExchangeService_Exchange_ImportPDFToCollector_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipPDFToCollector">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToCollector" message="tns:IExchangeService_Exchange_ImportZipPDFToCollector_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToCollectorResponse" message="tns:IExchangeService_Exchange_ImportZipPDFToCollector_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipOnlyToConserve">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipOnlyToConserve" message="tns:IExchangeService_Exchange_ImportZipOnlyToConserve_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ImportZipOnlyToConserveResponse" message="tns:IExchangeService_Exchange_ImportZipOnlyToConserve_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ValidateXML">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ValidateXML" message="tns:IExchangeService_Exchange_ValidateXML_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ValidateXMLResponse" message="tns:IExchangeService_Exchange_ValidateXML_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ValidateZipXMLPack">
            <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ValidateZipXMLPack" message="tns:IExchangeService_Exchange_ValidateZipXMLPack_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/Exchange_ValidateZipXMLPackResponse" message="tns:IExchangeService_Exchange_ValidateZipXMLPack_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IExchangeService" type="tns:IExchangeService">
        <wsp:PolicyReference URI="#BasicHttpBinding_IExchangeService_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Exchange_ImportXMLToSend">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportXMLToSend" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipXMLPackToSend">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportZipXMLPackToSend" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportPDFToConvert">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportPDFToConvert" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipPDFToConvert">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToConvert" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportPDFToCollector">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportPDFToCollector" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipPDFToCollector">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportZipPDFToCollector" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ImportZipOnlyToConserve">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ImportZipOnlyToConserve" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ValidateXML">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ValidateXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Exchange_ValidateZipXMLPack">
            <soap:operation soapAction="http://tempuri.org/IExchangeService/Exchange_ValidateZipXMLPack" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ExchangeService">
        <wsdl:port name="BasicHttpBinding_IExchangeService" binding="tns:BasicHttpBinding_IExchangeService">
            <soap:address location="https://servizi-demo.youdox.it/fatturazione/api/ExchangeService.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>